<body class="body">
    <h1 class="">Trainees</h1>
<ul>
    <li *ngFor="let trainee of traineesList"> {{trainee.id}} - {{trainee.name}}</li>
</ul>
<ul>
    <li *ngFor="let trainee of traineeList"> {{trainee.id}} - {{trainee.name}} - {{trainee.age}} - {{trainee.email}} - {{trainee.favouriteCourse}}</li>
</ul>

<div class="container">
    <div class="row">
      <div class="col-md-6 mt-3 mb-2" *ngFor="let trainee of traineesList">
        <div class="card" style="width: 25rem; background-color:honeydew; font-family: cursive;">
          <!-- <img [src]="episode.poster" class="card-img-top" alt="..."> -->
          <div>
            <div class="card-body">
              <h5 class="card-title">{{trainee.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Age: {{trainee.age}}</h6>
              <h6 class="card-subtitle mb-2 text-muted">Favourite Course: {{trainee.favouriteCourse}}</h6>
              <h6 class="card-subtitle mb-2 text-muted">CGPA: {{trainee.CGPA}}</h6>
              <h6 class="card-footer mb-1 text-muted">Academy 4.0</h6>
              <p class="card-text"></p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<table class="table table-striped table-hover table-responsive table-bordered caption-top" style="margin-right:5px">
    <caption style="font-size: 30px; color: black;">Trainees</caption>
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Trainee Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Favourite Course</th>
            <th scope="col">Favourite Quote</th>
        </tr>            
    </thead>
    <tbody>
        <tr *ngFor="let trainee of trainees; let indx=index">
            <td>{{indx + 1}}</td>
            <td>{{trainee.name}}</td>
            <td>{{trainee.age}}</td>
            <td>{{trainee.email}}</td>
            <td>{{trainee.favouriteCourse}}</td>
            <td></td>
        </tr>
    </tbody>
</table>
<table class="table table-striped table-hover table-responsive table-bordered caption-top" style="margin-right:5px">
    <caption style="font-size: 30px; color: black;">Trainees List</caption>
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Trainee Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Favourite Course</th>
            <th scope="col">Favourite Quote</th>
        </tr>            
    </thead>
    <tbody>
        <tr *ngFor="let trainee of traineeList; let indx=index">
            <td>{{indx + 1}}</td>
            <td>{{trainee.name}}</td>
            <td>{{trainee.age}}</td>
            <td>{{trainee.email}}</td>
            <td>{{trainee.favouriteCourse}}</td>
            <td></td>
        </tr>
    </tbody>
</table>
</body>